@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom helpers */
html, body, #root { height: 100%; }

.bg-hero-pattern {
  background-image:
    radial-gradient(circle at 10% 10%, rgba(43,150,130,0.05) 0, transparent 30%),
    radial-gradient(circle at 90% 80%, rgba(255,125,136,0.04) 0, transparent 30%);
}
